/* hda-styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Lato:wght@300;400;700&display=swap');

/* Apply HDA fonts */
body {
  font-family: 'Lato', sans-serif;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 84px;
  font-family: 'Roboto Slab', serif;
  color: #445ca9;
}

/* Style callouts with HDA colors */
.callout-note {
  border-left-color: #445ca9 !important;
}

.callout-warning {
  border-left-color: #e76f52 !important;
}

.callout-tip {
  border-left-color: #8baeaa !important;
}

/* Style links */
a {
  color: #445ca9;
}

a:hover {
  color: #e9ab3f;
}